$primaryColor: #e63946;
$secondaryColor: #ece5dd;
$tertiaryColor: #a8dadc;
$accentColor: #457b9d;
$backgroundColor: #1d3557;
$buttonWidth: 70%;
$buttonHeight: 40px;
$buttonBorderRadius: 8px;
$buttonFontSize: 16px;
$inputWidth: 70%;
$inputHeight: 30px;
$inputBorderRadius: 8px;
$inputBorderWidth: 1px;
$inputFontSize: 15px;
$margin: 10px;