@import "./variables";

.container {
  text-align: center;
  margin: $margin;
  background-color: $secondaryColor;
  padding: 20px;

  h1 {
    margin: $margin;
    text-align: center;
    svg {
      color: $accentColor;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input {
      margin: $margin;
      height: $inputHeight;
      width: $inputWidth;
      border-radius: $inputBorderRadius;
      border: $inputBorderWidth solid $accentColor;
      font-size: $inputFontSize;
      padding-inline: 10px;
      box-sizing: border-box;
    }

    .button {
      width: $buttonWidth;
      height: $buttonHeight;
      font-weight: bold;
      border-radius: $buttonBorderRadius;
      font-size: $buttonFontSize;
      background-color: $primaryColor;
      border: $inputBorderWidth solid $primaryColor;
      color: $secondaryColor;
      margin: $margin;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: darken($primaryColor, 15%);
        transform: scale(0.98);
      }
    }

    .error-message {
      color: $backgroundColor;
      margin: 5px 0;
    }
  }
}