$primaryColor: #e63946;
$secondaryColor: #ece5dd;
$tertiaryColor: #a8dadc; 
$accentColor: #457b9d;
$backgroundColor: #1d3557;

$buttonWidth: 10%;
$buttonHeight: 50px;
$buttonBorderRadius: 10px;
$buttonFontSize: 18px;
$inputWidth: 25%;
$inputHeight: 30px;
$inputBorderRadius: 10px;
$inputBorderWidth: 1px;
$inputFontSize: 15px;
$margin: 10px;